/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	font-family: "Roboto", arial, sans-serif;
}

/**********/
/* Header */
/**********/
	header section{
		position: fixed;
		display: flex;
		width: 100%;
		margin: 0;
		bottom: 0;
		top: 0;
		list-style: none;
		text-decoration: none;
		left: -100%;
		background-color:  #313131;
		text-align: center;
		align-items: center;
		justify-content: center;
		transition: 0.5s;
		z-index: 1;
	}

	header section li{
		flex-direction:row;
		list-style: none;
		padding: 2em;
		border-bottom: solid 0.1em #616161;
	}
	header section a{
		text-decoration: none;
		color: white;
		font-size: 2em;
	}

	.toonhamburger{
		left: 0;
		transition: 0.5s;
		margin: 0;
		transform: skewX(180deg);
	}
	header section svg{
		height: 3em;
		cursor: pointer;
	}

/*********/
/** nav **/
/*********/

@media (max-width: 767px) {
	nav li:nth-of-type(2){
		display: none!important;
	}
	nav li:nth-of-type(3){
		display: none!important;
	}
	nav li:nth-of-type(4){
		display: none!important;
	}
	nav li:nth-of-type(5){
		display: none!important;
	}
	nav li:nth-of-type(6){
		display: none!important;
	}
 }
 @media (min-width: 767px){
	#hamburger{
		display: none !important;
		height: 100%;
		
	}
 }

 #hamburger {
	display: flex;
	justify-content: left;
	height: 5em;
	width: 100%;
	padding: 0;
	background-color: #919191;
 }
 nav #hamburger svg{
	position: absolute;
	top: 1em;
	left: 1em;
	height: 3em;
	width: 3em;
	stroke: white;
 }

 nav {
	position: relative;
 }

nav ul{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	background-color: white;
}

nav li{
	display: flex;
	flex-direction: column;
	background-color: white;
	text-align: center;
	padding: 2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	cursor: pointer;
}

nav li a{
	text-decoration: none;
	color: #313131;
}
nav li:nth-of-type(2) img{
	height: 2em;
}


nav li:nth-of-type(3) svg{
	height: 2em;
	fill: #919191;
}
nav li:nth-of-type(3):hover svg{
	transition: 0.4s;
	fill: white;
}


nav li:nth-of-type(4) svg{
	height: 2em;
	stroke: none;
	color: #919191;
}
nav li:nth-of-type(4):hover svg{
	transition: 0.4s;
	color: white ;
}


nav li:nth-of-type(5) svg{
	height: 2em;
	fill: #919191;
}
nav li:nth-of-type(5):hover svg{
	transition: 0.4s;
	fill: white ;
}


nav li:nth-of-type(6) svg{
	height: 2em;
	fill: none;
	stroke:currentColor;
	stroke-width:2;
	stroke-linecap: round;
	color: #919191;
}
nav li:nth-of-type(6):hover svg{
	transition: 0.4s;
	color: white ;
}


nav li:nth-of-type(2) {
	background-color: #919191;
	color: white;
	border-bottom: solid 0.4em #919191;
	border-radius: 0 0 0 0.5em ;
	cursor: pointer;
}
nav li:nth-of-type(2) a {
text-decoration: none;
color: white;
}


nav li:nth-of-type(3){
	border-bottom: solid 0.4em #E3350D;
}
nav li:nth-of-type(3):hover{
	background-color: #E3350D;
	transition: 0.5s;
}
nav li:nth-of-type(3):hover a{
	text-decoration: none;
	color: white;
	}




nav li:nth-of-type(4){
	border-bottom: solid 0.4em #EE6B2F;
	}
nav li:nth-of-type(4):hover{
	background-color: #EE6B2F;
	transition: 0.5s;
}
nav li:nth-of-type(4):hover a{
	text-decoration: none;
	color: white;
	}



nav li:nth-of-type(5){
	border-bottom: solid 0.4em #E6BC2F;
	}
nav li:nth-of-type(5):hover{
	background-color: #E6BC2F;
	transition: 0.5s;
}
nav li:nth-of-type(5):hover a{
	text-decoration: none;
	color: white;
	}


nav li:nth-of-type(6){
	border-bottom: solid 0.4em #4DAD5B;
	border-radius: 0 0 0.5em 0 ;
	}
nav li:nth-of-type(6):hover{
	background-color: #4DAD5B;
	transition: 0.5s;
}
nav li:nth-of-type(6):hover a{
	text-decoration: none;
	color: white;
}

/********/
/* Body */
/********/

body{
	margin: 0;
	background: url(container_bg.png) repeat  center;
	background-size: 30%;
}

main section:nth-of-type(1){
	position: fixed;
	color: white;
}
main section:nth-of-type(1) p:nth-of-type(1){
	font-size: 1em;
	position: absolute;
	z-index: 1;
	top: 5em;
	left: 0.5em;
	cursor: pointer;
}
main svg:nth-of-type(1){
	fill: #54b564;
	stroke: #000;
	position: absolute;
	height: 10em;
	width: 10em;
	margin: 0;
	left: -2.2em;
	cursor: pointer;
}
main section:nth-child(1) svg:hover{
	fill: #E3350D;
	transition: 0.5s;
}
main svg:nth-of-type(2){
	stroke: white;
	width: 4em;
	height: 4em;
	position: absolute;
	left: 1em;
	top: 2em;
	cursor: pointer;
}

main section :nth-of-type(1) img{
	width: 100%;
}

main section {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

article {
	display: grid;
	justify-content: center;
	grid-column: 2;
	text-align: center;
	padding-bottom: 1em;
	color: white;
	background-color: #313131;
	border-radius: 0 0 1% 1%;
	cursor: pointer;
}

h2{
	text-align: center;
	color: #252734;
}


main section ul{
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	margin-bottom: 2em;
	background-color: #282828;
	width: 100%;
}

main section li{
	display: grid;
	text-decoration: none;
	align-items: start;
	list-style: none;
	background-color: #313131;
	color: white;
	padding: 1em;
	border-radius: 0 0 0.5em 0.5em;
	cursor: pointer;
}

main section li:hover{
	background-color: #E3350D;
	transition:0.5s ;
	background-image: linear-gradient(#E3350D , #313131);
}

li img{
	height: 20em;
	width: auto;
	background-color: #616161;
}
main li:nth-of-type(1) p{
	text-align: center;
	background-color: #9BCC50;
	color: #252734;
	border-radius: .3em;
	width: 4em;
}
main li:nth-of-type(2) p{
	text-align: center;
	background-color: #FD7D24;
	border-radius: .3em;
	width: 4em;
}
main li:nth-of-type(3) p{
	text-align: center;
	background-color: #4592C4;
	border-radius: .3em;
	width: 4em;
}

/**********/
/* Footer */
/**********/

footer{
	background-color: #1F1F1F;
}

footer ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 2em;
	justify-content: center;
	background-color: #1F1F1F;
	color: white;
	text-decoration: none;
	list-style: none;
	gap: 2em;
}
footer li{
	display: grid;
}

footer p{
	font-size: 1.5em;
}

footer li:nth-of-type(3) p{
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 0;
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	text-decoration:underline;
}

footer li:nth-of-type(2){
	display: flex;
	gap: 0.8em;
}
footer img{
	background-color: #1F1F1F;
	width: 3.2em;
	height: 3em;
}
footer li:nth-of-type(1){
	padding-right: 2em;
	border-right: solid 0.1em black;
}
footer li:nth-of-type(3){
	padding-left: 2em;
	border-left: solid 0.1em black;
}


