/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/**********/
/* Header */
/**********/


/*********/
/** nav **/
/*********/

nav ul{
	list-style: none;
	display: grid;
	margin: 0;
	padding: 3%;
	grid-template-columns:repeat(auto-fit, 8em);
  	justify-content:center;
  	gap:1em;
}

nav a{
	text-decoration: none;
}

nav a:hover{
	background-color: #313131;
	transition: 0.3s;
	color: white;
}

/********/
/* Body */
/********/
body{
	margin: 0;
}
.background{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 1;
}

section {
	text-align: center;
	background-color: #313131;
	width: 57.6%;
	padding-bottom: 1em;
	color: white;
	border-radius: 0 0 1% 1%;
}
