/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/**********/
/* Header */
/**********/


/*********/
/** nav **/
/*********/

nav ul{
	list-style: none;
	display: flex;
	margin: 0;
	justify-content: center;
}

nav li{
	display: flex;
	flex-direction: column;
	background-color: white;
	text-align: center;
	padding: 2em;
}

nav li a{
	text-decoration: none;
	color: #313131;
}

nav li:nth-of-type(2) svg{
	height: 2em;
	fill: #919191;
}

nav li:nth-of-type(2):hover svg{
	transition: 0.4s;
	fill: white;
}



nav li:nth-of-type(1) {
	background-color: #919191;
	color: white;
	border-bottom: solid 0.4em #919191;
	border-radius: 0 0 0 0.5em ;
}
nav li:nth-of-type(1) a {
text-decoration: none;
color: white;
}


nav li:nth-of-type(2){
	border-bottom: solid 0.4em #E3350D;
}
nav li:nth-of-type(2):hover{
	background-color: #E3350D;
	transition: 0.5s;
}
nav li:nth-of-type(2):hover a{
	text-decoration: none;
	color: white;
	}




	nav li:nth-of-type(3){
		border-bottom: solid 0.4em #EE6B2F;
	}
nav li:nth-of-type(3):hover{
	background-color: #EE6B2F;
	transition: 0.5s;
}
nav li:nth-of-type(3):hover a{
	text-decoration: none;
	color: white;
	}



	nav li:nth-of-type(4){
		border-bottom: solid 0.4em #E6BC2F;
	}
nav li:nth-of-type(4):hover{
	background-color: #E6BC2F;
	transition: 0.5s;
}
nav li:nth-of-type(4):hover a{
	text-decoration: none;
	color: white;
	}


	nav li:nth-of-type(5){
		border-bottom: solid 0.4em #4DAD5B;
		border-radius: 0 0 0.5em 0 ;
	}
nav li:nth-of-type(5):hover{
	background-color: #4DAD5B;
	transition: 0.5s;
}
nav li:nth-of-type(5):hover a{
	text-decoration: none;
	color: white;
	}

/********/
/* Body */
/********/
body{
	margin: 0;
}
main{
	background: url(container_bg.png) repeat  center;
	background-size: 30%;
	padding-top: 5%;
	margin: -0.5em;
}


section{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 2em;
	
}
article {
	display: grid;
	justify-content: center;
	grid-column: 2;
	text-align: center;
	padding-bottom: 1em;
	color: white;
	background-color: #313131;
	border-radius: 0 0 1% 1%;
}

